.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  transition: all 0.5s ease-in-out;
}
.email-icon {
  color: #ffffff;
}
html {
  overflow-y: scroll;
}

.email-icon:hover {
  color: #dddddd;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem;
    padding: 0.25rem;
  }
}


.navbar-sticky {
  opacity: 0.99;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background: url('../images/download-background.jpg') center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}

@media (min-width: 992px) {
  .list-group-item-dates {
    font-size: 1.2rem;
  }
}

@media (min-width: 340px) {
  .list-group-item-dates {
    font-size: 0.8rem;
  }
}

@media (min-width: 340px) {
  .list-group-item-dates {
    font-size: 0.8rem;
  }
}

@media (min-width: 500px) {
  .list-group-item-dates {
    font-size: 0.95rem;
  }
}


@media (min-width: 768px) {
  .list-group-item-dates {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .list-group-item-dates {
    font-size: 1.0rem;
  }
}

@media (min-width: 1040px) {
  .list-group-item-dates {
    font-size: 1.1rem;
  }
}

@media (min-width: 340px) {
  .nav-button-footer{
    font-size: 0.8rem !important;
  }
}

@media (min-width: 500px) {
  .nav-button-footer{
    font-size: 0.95rem !important;
  }
}


@media (min-width: 768px) {
  .nav-button-footer{
    font-size: 1rem !important;
  }
}
@media (min-width: 1040px) {
  .carousel-item img {
    max-width: 55%;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .list-group-item {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    background: var(--bs-dark);
  }

  .hero .image-container {
    display: flex;
    justify-content: center;
  }

  .hero .text-container {
    text-align: center;
  }
}
.nav-link.nav-button-footer:hover {
  color: rgb(192, 191, 230) !important;
}
@media (max-width: 992px) {
  .nav-button {
    background: transparent !important;
    border: none !important;
  }

  .nav-button:hover {
    color: rgb(192, 191, 230) !important;
  }
}
